@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="index-section">
    <div class="index-img"></div>
    @* Hot Buys, Low Prices! *@
    <div class="hot-buys">
        <p class="hbh">Hot Buys, Low Prices!</p>
        <div class="hblp">
            <div class="hnlp-b">
                <button class="hnlp-btn" id="hnlpPrev"><i class="fa-solid fa-chevron-left"></i></button>
            </div>
            <div class="hblp-container">
                <div class="hblp-elements" id="hblp-elements">
                    @foreach (var Fruit in Model.FruitList)
                    {
                        <div class="hblp-element" id="hblp-element">
                            <div class="hblp-img"
                                style="background-image: url('data:image/png;base64,@Convert.ToBase64String(Fruit.image)');">
                            </div>
                            <p class="delv">Delivery 1-2 hours</p>
                            <div class="hblp-name">@Fruit.productName</div>
                            <div class="hblp-prices">
                                <p class="hblp-amt"> <strong style="font-size: 1.3rem;"> &#2547</strong>@Fruit.price</p>
                                <p class="hblp-unit">@Fruit.unit</p>
                            </div>
                            @if (!string.IsNullOrEmpty(@Request.Cookies["mobile"]))
                {
                    <form method="post" class="check-out-btn" asp-page="/Cart" enctype="multipart/form-data">
                        <input type="hidden" name="productName" value="@Fruit.productName" />
                        <input type="hidden" name="price" value="@Fruit.price" />
                        <input type="hidden" name="unit" value="@Fruit.unit" />
                        <input type="hidden" name="mobile" value="@Request.Cookies["mobile"]" />
                        <input type="hidden" name="address" value="@Request.Cookies["address"]" />
                        <input type="hidden" name="url" value="@HttpContext.Request.Path" />

                        <button class="check-btn-mobile">
                            <i class="fa-solid fa-plus"></i> Add to Bag
                        </button>

                    </form>
                }
                else
                {
                    <a class="check-out-btn">
                        <i class="fa-solid fa-plus"></i> Add to Bag
                    </a>
                }
                        </div>
                    }

                </div>
            </div>
            <div class="hnlp-b">
                <button class="hnlp-btn" id="hnlpNext"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
    @* Recommended for you *@
    <div class="break-img">

    </div>
    <div class="hot-buys">
        <p class="hbh">Recommended for you</p>
        <div class="hblp">
            <div class="hnlp-b">
                <button class="hnlp-btn" id="rfuPrev"><i class="fa-solid fa-chevron-left"></i></button>
            </div>
            <div class="hblp-container">
                <div class="hblp-elements" id="rfu-elements">
                    @foreach (var Food in Model.RecommandList)
                    {
                        <div class="hblp-element" id="rfu-element">
                            <div class="hblp-img"
                                style="background-image: url('data:image/png;base64,@Convert.ToBase64String(Food.image)');">
                            </div>
                            <p class="delv">Delivery 1-2 hours</p>
                            <div class="hblp-name">@Food.productName</div>
                            <div class="hblp-prices">
                                <p class="hblp-amt"><strong style="font-size: 1.3rem;"> &#2547</strong>@Food.price</p>
                                <p class="hblp-unit">@Food.unit</p>
                            </div>
                @if (!string.IsNullOrEmpty(@Request.Cookies["mobile"]))
                                  {
                    <form method="post" class="check-out-btn" asp-page="/Cart" enctype="multipart/form-data">
                        <input type="hidden" name="productName" value="@Food.productName" />
                        <input type="hidden" name="price" value="@Food.price" />
                        <input type="hidden" name="unit" value="@Food.unit" />
                        <input type="hidden" name="mobile" value="@Request.Cookies["mobile"]" />
                        <input type="hidden" name="address" value="@Request.Cookies["address"]" />
                        <input type="hidden" name="url" value="@HttpContext.Request.Path" />

                        <button class="check-btn-mobile">
                            <i class="fa-solid fa-plus"></i> Add to Bag
                        </button>

                    </form>
                             }
                else
                {
                    <a class="check-out-btn">
                        <i class="fa-solid fa-plus"></i> Add to Bag
                    </a>
                }
                        </div>
                    }

                </div>
            </div>
            <div class="hnlp-b">
                <button class="hnlp-btn" id="rfuNext"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </div>

    @* Culinary Corner *@
    <div class="hot-buys Culinary">
        <p class="hbh">Culinary Corner</p>
        <div class="hblp">
            <div class="hnlp-b">
                <button class="hnlp-btn" id="ccPrev"><i class="fa-solid fa-chevron-left"></i></button>
            </div>
            <div class="hblp-container">
                <div class="hblp-elements" id="ccelements">

                    @foreach (var Food in Model.Culninary)
                    {
                        <div class="hblp-element" id="ccelement">
                            <div class="hblp-img" style="background-image: url('data:image/png;base64,@Convert.ToBase64String(Food.image)');"></div>
                            <p class=" delv">Delivery 1-2 hours</p>
                                <div class="hblp-name">@Food.productName</div>
                                <div class="hblp-prices">
                                    &#2547 <p class="hblp-amt"><strong style="font-size: 1.3rem;"> &#2547</strong>@Food.price</p>
                                    <p class="hblp-unit">@Food.unit</p>
                                </div>
                 @if (!string.IsNullOrEmpty(@Request.Cookies["mobile"]))
                {
                    <form method="post" class="check-out-btn" asp-page="/Cart" enctype="multipart/form-data">
                        <input type="hidden" name="productName" value="@Food.productName" />
                        <input type="hidden" name="price" value="@Food.price" />
                        <input type="hidden" name="unit" value="@Food.unit" />
                        <input type="hidden" name="mobile" value="@Request.Cookies["mobile"]" />
                        <input type="hidden" name="address" value="@Request.Cookies["address"]" />
                        <input type="hidden" name="url" value="@HttpContext.Request.Path" />

                        <button class="check-btn-mobile">
                            <i class="fa-solid fa-plus"></i> Add to Bag
                        </button>

                    </form>
                }
                else
                {
                    <a class="check-out-btn">
                        <i class="fa-solid fa-plus"></i> Add to Bag
                    </a>
                }
                            </div>
                        }
                    </div>
                </div>
                <div class="hnlp-b">
                    <button class="hnlp-btn" id="ccNext"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
